.header {
    background-color: $white;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__social {
        margin-right: 40px;
    }
}