.hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        width: 49%;
        padding: 114px 60px;
        background-color: $blue;
        border-radius: 32px;
    }

    &__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        color: $white;
    }

    &__desc {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white;
    }

    &__image {
        width: 49%;
    }
}